@import "variables";
header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .meet_svg {
        width: 119px;
        height: 28px;
        margin-top: 80px;
    }

    .container {
        display: flex;
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;

        .image_responsive {
            display: none;
        }

        .image_left {
            width: 394px;
            height: 303px;
            background-image: url(../assets/desktop/image-hero-left.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: -32px;
            margin-top: 61px;
        }

        .header_text {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                font-size: 64px;
                font-weight: 900;
                line-height: 64px;
                color: $h1-h2_main;
                width: 445px;
                margin: 0px;
                margin-top: 108px;
            }

            .header_main_paragraph {
                margin: 0px;
                width: 540px;
                margin-top: 34px;
            }

            .buttons {
                margin-top: 32px;
                display: flex;
                gap: 16px;
                margin-bottom: 201px;

                .btn_download {
                    width: 193px;
                    border-radius: 29px;
                    background-color: $btn_header-p_main;
                    padding-top: 16px;
                    padding-bottom: 16px;
                    font-size: 16px;
                    font-weight: 900;
                    color: $white;
                    text-decoration: none;

                    &:hover {
                        background-color: $hover_download;
                    }
                    span {
                        color: $btn_footer_header;
                    }
                }

                .btn_what_is_it {
                    width: 139px;
                    border-radius: 29px;
                    background-color: $btn_header_footer;
                    padding-top: 16px;
                    padding-bottom: 16px;
                    font-size: 16px;
                    font-weight: 900;
                    color: $white;
                    text-decoration: none;

                    &:hover {
                        background-color: $hover_what_is_it-footer;
                    }
                }
            }
        }

        .image_right {
            width: 394px;
            height: 303px;
            background-image: url(../assets/desktop/image-hero-right.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: 32px;
            margin-top: 118px;
        }
    }
}

@media (max-width: 768px) {
    header {
        .meet_svg {
            margin-top: 48px;
        }

        .container {
            display: flex;
            flex-direction: column;

            .image_responsive {
                display: block;
                background-image: url(../assets/tablet/image-hero.png);
                background-size: 107%;
                background-repeat: no-repeat;
                width: 100%;
                height: 303px;
                margin-top: 64px;
                background-position: center;
            }

            .image_left {
                display: none;
            }

            .header_text {
                align-items: center;
                width: 100%;

                h1 {
                    margin-top: 72px;
                    width: 339px;
                    font-size: 48px;
                    line-height: 48px;
                }

                .header_main_paragraph {
                    width: 457px;
                    margin-top: 24px;
                    font-size: 16px;
                }

                .buttons {
                    margin-bottom: 164px;
                }
            }
            .image_right {
                display: none;
            }
        }
    }
}

@media (max-width: 375px) {
    header {
        .container {
            .image_responsive {
                height: 153px;
                margin-top: 54px;
            }

            .header_text {
                h1 {
                    margin-top: 48px;
                    width: 292px;
                    font-size: 40px;
                    line-height: 44px;
                }

                .header_main_paragraph {
                    width: 327px;
                    margin-top: 24px;
                    font-size: 16px;
                }

                .buttons {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-bottom: 148px;
                }
            }
        }
    }
}
