@import "variables";

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .number {
        position: relative;

        &:before {
            /*attribute that allow to insert other characteriscs to the tag*/
            content: " ";
            position: absolute;
            width: 1px;
            height: 84px;
            bottom: 56px;
            left: 50%;
            background: url("../assets/vertical-line.svg");
        }

        &.number_two {
            margin-bottom: calc(-56px / 2);
            z-index: 1; /*atributo que controla el eje z y ordena la posicion de un elemento en el eje */
        }
        span {
            display: inline-block;
            font-size: 16px;
            font-weight: 900;
            color: $p_header_main;
            padding: 15px 19px;
            border-radius: 29px;
            border: 1px solid rgba(135, 135, 157, 0.25);
            background-color: $bg-h2_p_footer;
            width: 56px;
            height: 56px;
        }
    }

    .images_grid {
        display: flex;
        justify-content: space-around;
        width: 1110px;
        margin: 0px auto; /*para centrar un div*/
        margin-top: 64px;

        img {
            width: 255px;
            height: 242px;
            border-radius: 8px;
        }
    }

    .main_paragraph {
        font-size: 16px;
        font-style: normal;
        font-weight: 900;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin: 0px;
        color: $btn_header-p_main;
        margin-top: 77px;
    }

    h2 {
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 44px;
        color: $h1-h2_main;
        width: 445px;
        margin: 0px;
        margin-top: 16px;
    }

    p {
        margin: 0px;
        width: 540px;
        margin-top: 32px;
        margin-bottom: 156px;
    }
}

@media (max-width: 768px) {
    main {
        .images_grid {
            width: 689px;
            margin-top: 67px;

            img {
                width: 164px;
                height: 156px;
            }
        }

        .main_paragraph {
            margin-top: 46px;
        }

        h2 {
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: 44px;
            color: $h1-h2_main;
            width: 445px;
            margin: 0px;
            margin-top: 16px;
        }

        p {
            font-size: 16px;
            width: 573px;
            margin-bottom: 164px;
        }
    }
}

@media (max-width: 375px) {
    main {
        .images_grid {
            width: 100%;
            margin-top: 63px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 24px;
            justify-content: center;

            img {
                width: 151px;
                height: 143px;
            }
        }
        .main_paragraph {
            margin-top: 62px;
        }
        h2 {
            font-size: 32px;
            line-height: 36px;
            width: 327px;
            margin-top: 24px;
        }

        p {
            width: 328px;
            margin-bottom: 148px;
        }
    }
}
