$h1-h2_main: #28283D;
$p_header_main: #87879D;
$btn_header-p_main: #4D96A9;
$btn_footer_header: #8FE3F9;
$btn_header_footer: #855FB1;
$bg-h2_p_footer: #FAFAFA;
$white: #ffffff;
$btn_footer_text: #D9B8FF;
$hover_download: #71C0D4;
$hover_what_is_it-footer: #B18BDD;